@font-face {
  font-family: "toutiao";
  /* Project id 3157669 */
  src: url("//at.alicdn.com/t/font_3157669_1zrtlaozq9l.woff2?t=1642858230523") format("woff2"), url("//at.alicdn.com/t/font_3157669_1zrtlaozq9l.woff?t=1642858230523") format("woff"), url("//at.alicdn.com/t/font_3157669_1zrtlaozq9l.ttf?t=1642858230523") format("truetype");
}
.toutiao {
  font-family: "toutiao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.toutiao-guanbi:before {
  content: "\e607";
}
.toutiao-pinglun:before {
  content: "\e608";
}
.toutiao-shanchu:before {
  content: "\e609";
}
.toutiao-shouye:before {
  content: "\e60a";
}
.toutiao-dianzan2:before {
  content: "\e60b";
}
.toutiao-shipin:before {
  content: "\e60c";
}
.toutiao-gengduo:before {
  content: "\e60d";
}
.toutiao-shoucang:before {
  content: "\e60e";
}
.toutiao-dianzan:before {
  content: "\e60f";
}
.toutiao-wode:before {
  content: "\e610";
}
.toutiao-fenxiang:before {
  content: "\e611";
}
.toutiao-youjiantou:before {
  content: "\e612";
}
.toutiao-lishi:before {
  content: "\e613";
}
.toutiao-sousuo:before {
  content: "\e614";
}
.toutiao-zuopin:before {
  content: "\e615";
}
.toutiao-zuojiantou:before {
  content: "\e616";
}
.toutiao-yanzhengma:before {
  content: "\e617";
}
.toutiao-wuwangluo:before {
  content: "\e618";
}
.toutiao-shouji:before {
  content: "\e619";
}
.toutiao-wenda:before {
  content: "\e61a";
}
.toutiao-yuedu:before {
  content: "\e61b";
}
